*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/controllers/desktop/Prova3D.java
/controllers/desktop/test.java
/controllers/desktop/test.form
/router/Model.java
/router/dynamixel_jni.java
!/controllers/desktop/j3dutils.jar
!/controllers/desktop/j3dcore.jar
!/controllers/desktop/vecmath.jar
!/controllers/web/spark-core-0.9.9.4.jar
!/controllers/web/jetty-webapp-7.3.0.v20110203.jar
!/controllers/web/slf4j-api-1.6.1.jar
!/controllers/web/log4j-1.2.14.jar
!/controllers/web/spark-core-2.0.0.jar
!/controllers/web/servlet-api-3.0.pre4.jar
!/controllers/web/slf4j-log4j12-1.6.1.jar